<div class="row">
	<button class="btn btn-linkedin waves-effect waves-light pull-right" ng-click="paramItem.parameter_item(this)">Add <i class="fa fa-plus"></i></button>
	</div>
<hr>
	<div class="panel-body">
		<table id="parameter-item-list" class="table table-striped m-0">
		  <thead>
			<tr>
					  <th>No.</th>
					  <th>Parameter Description</th>
					  <th>Attribute Name</th>
					  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="parameter_item in parameter_items">
			  <td>{{parameter_item.item_id}}</td>
			  <td>{{parameter_item.parameter_name}}</td>
			  <td>{{parameter_item.item_attribute}}</td>
			  <td>
			  <button class="btn btn-sm btn-white" style="margin-right: 5px;" ng-click="paramItem.parameter_item(this,parameter_item)"><i class="fa fa-search" style="cursor: pointer;"></i></button>
			  <button class="btn btn-sm btn-white" ng-click="paramItem.delete(this,parameter_item)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
			  </td>
			</tr>
		  </tbody>
		</table>
	</div>
