<div class="col-lg-9">
<div class="panel panel-border panel-primary">
<div class="panel-heading">
<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb" style="margin-left: 20px;">
			<li>
				<a href="#" ng-click="form.activateForm(this,'profile',profile)" class="text-inverse"><i class="icon-home"></i> {{profile.municipality.municipality}}</a>
			</li>
			<li>
				<span class="text-custom"> Employment and Development Finance Sector</span>
			</li>
			<button class="btn btn-linkedin pull-right waves-effect waves-light" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
		</ol>
	</div>
</div>
</div>
<hr>
<div class="panel-body">
	<form name="formHolder.employment" id="formHolder.employment">
	<div class="panel panel-inverse panel-border card-box">
	<div class="panel-heading">
	<h4><div class="row">
		<div class="col-sm-12">
			<ol class="breadcrumb" style="margin-left: 20px;">
				<li>
					<a href="#" ng-click="form.activateForm(this,'profile',profile)" class="text-inverse"><i class="icon-home"></i> {{profile.municipality.municipality}}</a>
				</li>
				<li>
					<span class="text-custom"> Employment and Development Finance Sector</span>
				</li>
				<button class="btn btn-linkedin pull-right waves-effect waves-light" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
			</ol>
		</div>
	</div>
	</h4>
	</div>
	<hr>

	<div class="panel-body">
		<form name="formHolder.employment" id="formHolder.employment">
		<div class="panel panel-inverse panel-border card-box">
		<div class="panel-heading">
		</div>
			<div class="card-box">
				<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.laborforce.$touched && formHolder.employment.laborforce.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[0].description}}</label>
						<input type="text" class="form-control" name="laborforce" ng-model="profile.sectors.employment.parameters[0].items[0].item_value" ng-disabled="controls.ok.btn" required>
						<span class="help-block" ng-show="formHolder.employment.laborforce.$touched && formHolder.employment.laborforce.$invalid">Labor Force No. is required</span>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.EmploymentRate.$touched && formHolder.employment.EmploymentRate.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[1].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="EmploymentRate" ng-model="profile.sectors.employment.parameters[0].items[1].item_value" required>
						<span class="help-block" ng-show="formHolder.employment.EmploymentRate.$touched && formHolder.employment.EmploymentRate.$invalid">Employment Rate is required</span>
					</div>
				</div>
				<hr>
				<h5>{{profile.sectors.employment.parameters[0].items[2].description}}</h5>
				<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.agriculture.$touched && formHolder.employment.agriculture.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[2].group_items[0].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="agriculture" ng-model="profile.sectors.employment.parameters[0].items[2].group_items[0].item_group_value" required>
						<span class="help-block" ng-show="formHolder.employment.agriculture.$touched && formHolder.employment.agriculture.$invalid">Agriculture is required</span>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.industry.$touched && formHolder.employment.industry.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[2].group_items[1].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="industry" ng-model="profile.sectors.employment.parameters[0].items[2].group_items[1].item_group_value" required>
						<span class="help-block" ng-show="formHolder.employment.industry.$touched && formHolder.employment.industry.$invalid">Industry is required</span>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.services.$touched && formHolder.employment.services.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[2].group_items[2].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="services" ng-model="profile.sectors.employment.parameters[0].items[2].group_items[2].item_group_value" required>
						<span class="help-block" ng-show="formHolder.employment.services.$touched && formHolder.employment.services.$invalid">Services is required</span>
					</div>
				</div>
			</div>
			<hr>
			<h5>{{profile.sectors.employment.parameters[1].description}}</h5>
			<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">{{profile.sectors.employment.parameters[1].items[0].description}}</label>
					<input type="text" class="form-control" ng-disabled="controls.ok.btn" ng-model="profile.sectors.employment.parameters[1].items[0].item_value">
					<!-- <span class="help-block" ng-show="formHolder.employment.commodity.$touched && formHolder.employment.commodity.$invalid">Commodity is required</span> -->
				</div>
				
				<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.classification.$touched && formHolder.employment.classification.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[6].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="classification" ng-model="profile.sectors.employment.parameters[0].items[6].item_value" required>
						<span class="help-block" ng-show="formHolder.employment.classification.$touched && formHolder.employment.classification.$invalid">Classification Name is required</span>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.gov_revenue.$touched && formHolder.employment.gov_revenue.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[7].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="gov_revenue" ng-model="profile.sectors.employment.parameters[0].items[7].item_value" required>
						<span class="help-block" ng-show="formHolder.employment.gov_revenue.$touched && formHolder.employment.gov_revenue.$invalid">Municipal Gov't Revenue is required</span>
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" ng-class="{'has-error': formHolder.employment.gov_expenditures.$touched && formHolder.employment.gov_expenditures.$invalid}">
						<label class="label-control">{{profile.sectors.employment.parameters[0].items[8].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" name="gov_expenditures" ng-model="profile.sectors.employment.parameters[0].items[8].item_value" required>
						<span class="help-block" ng-show="formHolder.employment.gov_expenditures.$touched && formHolder.employment.gov_expenditures.$invalid">Municipal Gov't Expenditures is required</span>
					</div>
				</div>
				<hr>
				<h5>{{profile.sectors.employment.parameters[1].description}}</h5>
					<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12 form-group">
						<label class="label-control">{{profile.sectors.employment.parameters[1].items[0].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" ng-model="profile.sectors.employment.parameters[1].items[0].item_value">
						<!-- <span class="help-block" ng-show="formHolder.employment.commodity.$touched && formHolder.employment.commodity.$invalid">Commodity is required</span> -->
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group">
						<label class="label-control">{{profile.sectors.employment.parameters[1].items[1].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn"  ng-model="profile.sectors.employment.parameters[1].items[1].item_value">
						<!-- <span class="help-block" ng-show="formHolder.employment.emp_generated.$touched && formHolder.employment.emp_generated.$invalid">Employment Generated is required</span> -->
					</div>
					<div class="col-lg-4 col-md-8 col-sm-12 form-group" >
						<label class="label-control">{{profile.sectors.employment.parameters[1].items[2].description}}</label>
						<input type="text" class="form-control" ng-disabled="controls.ok.btn" ng-model="profile.sectors.employment.parameters[1].items[2].item_value">
						<!-- <span class="help-block" ng-show="formHolder.employment.income_generated.$touched && formHolder.employment.income_generated.$invalid">Income Generated (PhP.) is required</span> -->
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<button class="btn btn-googleplus waves-effect" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
				<button class="btn btn-twitter waves-effect waves-light m-l-5" ng-click="form.save(this,'employment')" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
			</div>
		</div>
	</div>
	</form>
	</div>
</div>
</div>
