<div class="panel panel-border panel-primary col-lg-9">
<div class="panel-heading">
<h4><i class="icon icon-note"></i> Social Welfare Sector
<button class="btn btn-linkedin pull-right waves-effect waves-light" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
</h4>
</div>
<hr>
<div class="panel-body">

	<form name="formHolder.social" id="formHolder.social">

		<div class="card-box col-lg-12">
		<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">{{profile.sectors.social.parameters[0].items[0].description}}</label>
					<input type="text" class="form-control" ng-model="profile.sectors.social.parameters[0].items[0].item_value" ng-disabled="controls.ok.btn">
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">{{profile.sectors.social.parameters[0].items[1].description}}</label>
					<input type="text" class="form-control" ng-model="profile.sectors.social.parameters[0].items[1].item_value" ng-disabled="controls.ok.btn">
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">{{profile.sectors.social.parameters[0].items[2].description}}</label>
					<input type="text" class="form-control" ng-model="profile.sectors.social.parameters[0].items[2].item_value" ng-disabled="controls.ok.btn">
				</div>
			</div>
		</div>
	</form>
		<div class="form-group text-left m-b-0">
			<button class="btn btn-white waves-light waves-effect" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>

			<button class="btn btn-twitter waves-effect waves-light m-l-5" ng-click="form.save(this,'social')" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>

		</div>
	</div>
</div>
